body {
    margin: 0;
    background: #f3f6fb;
    font-family: "Poppins", sans-serif;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
}

.nav-left {
    font-size: 24px;
    font-weight: 700;
    color: #ff6b00;
}

.nav-right a {
    margin-left: 25px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.hero {
    text-align: center;
    padding: 50px 10px;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 5px;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 30px;
}

.option-card {
    background: white;
    width: 280px;
    padding: 20px;
    text-align: center;
    border-radius: 16px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.1);
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.option-card:hover {
    transform: translateY(-5px);
}

.center-card {
    width: 400px;
    margin: 50px auto;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.1);
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 18px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.btn-primary {
    background: #ff6b00;
    border: none;
    padding: 12px;
    width: 100%;
    color: white;
    border-radius: 10px;
    font-size: 16px;
}

.history-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.history-table th, .history-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
