{% extends "layout.html" %}
{% block content %}

<h2 class="page-title">Welcome User {{ token }}</h2>
<p class="balance">Balance: ₹{{ balance }}</p>

<div class="cards">

    <div class="card">
        <h3>Deposit</h3>
        <form action="{{ url_for('deposit') }}" method="POST">
            <input type="hidden" name="token" value="{{ token }}">
            <input type="number" name="amount" placeholder="Amount" required>
            <button class="btn-primary">Deposit</button>
        </form>
    </div>

    <div class="card">
        <h3>Withdraw</h3>
        <form action="{{ url_for('withdraw') }}" method="POST">
            <input type="hidden" name="token" value="{{ token }}">
            <input type="number" name="amount" placeholder="Amount" required>
            <button class="btn-primary">Withdraw</button>
        </form>
    </div>

    <div class="card">
        <h3>Transaction History</h3>
        <a class="btn-primary" href="{{ url_for('history', token=token) }}">View</a>
    </div>

</div>

{% endblock %}
