{% extends "layout.html" %}
{% block content %}

<div class="center-card big">

    <h2 class="page-title">Transaction History</h2>

    <table class="history-table">
        <tr>
            <th>Timestamp</th>
            <th>Action</th>
            <th>Amount</th>
        </tr>

        {% for amt, action, ts in rows %}
        <tr>
            <td>{{ ts }}</td>
            <td>{{ action }}</td>
            <td>₹{{ amt }}</td>
        </tr>
        {% endfor %}
    </table>

    <a class="btn-primary" href="{{ url_for('dashboard', token=token) }}">Back</a>

</div>

{% endblock %}
