<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ATM Simulator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<nav class="navbar">
    <div class="logo">ATM Simulator</div>

    <div class="nav-links">
        <a href="{{ url_for('login_page') }}">Home</a>
        <a href="{{ url_for('create_account') }}">Create Account</a>
        <a href="{{ url_for('login_page') }}">Login</a>
        <a href="#">View Account</a>
    </div>
</nav>

<div class="content">
    {% block content %}{% endblock %}
</div>

</body>
</html>
